path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
button
{
  border-radius:0 !important;
}
#temp-btn-group button
{
  margin-right: 5px;
}
.content
{
  padding: 10px;
}
